<div class="header">
    <mat-toolbar color="primary">
        <button mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>

        <span>Best Wether</span>

        <span class="example-spacer"></span>

        <button mat-icon-button>
            <mat-icon>favorite</mat-icon>
        </button>

        <button mat-icon-button>
            <mat-icon>share</mat-icon>
        </button>

    </mat-toolbar>
</div>

<div class="body">
    <div class="update-button">
        <button (click)="updateWidgetData()" color="primary" mat-button>
            Update <mat-icon>cached</mat-icon>
        </button>
    </div>
    <app-select-city
            (addNweCity)="addWidgetWeather($event)">
    </app-select-city>

    <div class="wrapper">
        <div class="main-block" *ngFor="let weatherData of widgetWeathersData; let index = index">
            <app-weather-widget (closeWidget)="closeWidget(index)"
                                [weatherData]="weatherData">
            </app-weather-widget>
        </div>
    </div>

</div>

<div class="footer">
    <mat-toolbar color="primary">
        <span>Product by Egor Pilipenko</span>
    </mat-toolbar>
</div>

